# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*

# Trained models
models/*.pkl
models/*.joblib

# Environment files
.env
# Local virtual environments
app/traffic-monitor/venv/
app/test-web/venv/

# Traffic monitor virtual environment
app/traffic-monitor/venv/
